.settings-page {
	>.page-content {
		max-width: none;
		padding: 0;
		padding-bottom: var(--keyboard-height);
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

.custom-scroll {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb);
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar-thumb-hover);
	}

	&::-webkit-scrollbar-thumb:active {
		background: var(--scrollbar-thumb-active);
	}
}

.hide-number-spinners::-webkit-inner-spin-button,
.hide-number-spinners::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
