.loader-component {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  min-height: 1rem;
  margin: .25rem;

  .loader-icon {
    position: absolute;
    flex: 1;
    display: block;
    min-height: 100%;
    min-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-top-color: var(--primary-text);
    border-radius: 50%;
    animation: spin 1.2s ease-in-out infinite;
  }
}